<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

<body class="theme-6dd">
    <div class="scroller">
    {% include sidebar.html %}

    <div class="page-container">
        <div class="wrap">
          <div class="masthead">
            <div class="container">
              <h3 class="masthead-title">
                <a href="/" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
              </h3>
            </div>
          </div>

          <div class="container content">
            {{ content }}
          </div>
        </div>
        {% include footer.html %}
    </div>
    <div class="frame-right" aria-hidden="true"></div>
    <div class="frame-art" aria-hidden="true">
      <span class="fa-stage"></span>
      <span class="fa-top"></span><span class="fa-right"></span><span class="fa-bottom"></span><span class="fa-left"></span>
      <span class="fa-tl"></span><span class="fa-tr"></span><span class="fa-br"></span><span class="fa-bl"></span>
    </div>
    </div>
 </body>
</html>
